<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>-->
<!--<script>tinymce.init({ selector:'textarea' });</script>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<textarea>Next, get a free TinyMCE Cloud API key!</textarea>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->
<div id="content">

  <h1>Syftet</h1>
  <%= form_for @email do |f| %>

      <div class="form-group col-md-6 mt15">
        <%= f.label :subject, 'Subject*', class:'icon-bullhorn' %>
        <%= f.text_field :subject, placeholder: 'What would you like to talk about?', required: true %>
      </div>

      <div class="form-group col-md-6 mt15">
        <%= f.label :title, 'Title*', class:'icon-bullhorn' %>
        <%= f.text_field :title, placeholder: 'Type your title', required: true %>
      </div>

      <div class="form-group col-md-6 mt15">
        <%= f.label :recipient, 'Receipent*', class:'icon-envelope' %>
        <%= f.text_field :recipient, placeholder: 'I promise I hate spam too!', required: true %>
      </div>

      <div class="form-group col-md-6 mt5">
        <%#= f.file_field  placeholder: 'I promise I hate spam too!' %>
        <%= file_field_tag :file %>
      </div>

      <div class="form-group col-md-6 mt15">
        <%= f.label :message, 'Message*', class:'icon-comment' %>
        <%= f.text_area :message, placeholder: 'Your message here', required: true %>
      </div>

      <div class="form-group col-md-12 mt15">
        <%= f.file_field :attachment, class: 'fa fa-paperclip' %>
        <%= f.submit 'Send', class: 'btn btn-info submit-btn pull-right' %>
      </div>

  <% end %>

</div>

<!--<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>-->
<!--<script>tinymce.init({ selector:'textarea' })</script>-->
